<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysSocialMapper">

	<resultMap type="SysSocial" id="SysSocialResult">
		<id     property="id"             column="id"               />
		<result property="userId"           column="user_id"             />
		<result property="authId"            column="auth_id"              />
		<result property="source"           column="source"             />
		<result property="accessToken"          column="access_token"            />
		<result property="expireIn"  column="expire_in"   />
		<result property="refreshToken"  column="refresh_token"   />
		<result property="openId"             column="open_id"                />
		<result property="userName"            column="user_name"              />
		<result property="nickName"           column="nick_name"             />
		<result property="email"         column="email"           />
		<result property="avatar"           column="avatar"             />
		<result property="accessCode"         column="access_code"           />
		<result property="unionId"             column="union_id"                />
		<result property="scope"             column="scope"                />
		<result property="tokenType"             column="token_type"                />
		<result property="idToken"             column="id_token"                />
		<result property="macAlgorithm"             column="mac_algorithm"                />
		<result property="macKey"             column="mac_key"                />
		<result property="code"             column="code"                />
		<result property="oauthToken"             column="oauth_token"                />
		<result property="oauthTokenSecret"             column="oauth_token_secret"                />
	</resultMap>


 	<insert id="insertRole" parameterType="SysSocial" useGeneratedKeys="true" keyProperty="id">
 		insert into sys_social(
 			<if test="id != null and id != 0">id,</if>
 			<if test="userId != null and userId != ''">user_id,</if>
 			<if test="authId != null and authId != ''">auth_id,</if>
 			<if test="source != null and source != ''">source,</if>
 			<if test="accessToken != null and accessToken != ''">access_token,</if>
 			<if test="expireIn != null and expireIn != ''">expire_in,</if>
 			<if test="refreshToken != null  and refreshToken != ''">refresh_token,</if>
 			<if test="openId != null and openId != ''">open_id,</if>
 			<if test="userName != null and userName != ''">user_name,</if>
 			<if test="nickName != null and nickName != ''">nick_name,</if>
 			<if test="email != null and email != ''">email,</if>
 			<if test="avatar != null and avatar != ''">avatar,</if>
 			<if test="accessCode != null and accessCode != ''">access_code,</if>
 			<if test="scope != null and scope != ''">scope,</if>
 			<if test="tokenType != null and tokenType != ''">token_type,</if>
 			<if test="unionId != null and unionId != ''">union_id,</if>
 			<if test="idToken != null and idToken != ''">id_token,</if>
 			<if test="macAlgorithm != null and macAlgorithm != ''">mac_algorithm,</if>
 			<if test="macKey != null and macKey != ''">mac_key,</if>
 			<if test="code != null and code != ''">code,</if>
 			<if test="oauthToken != null and oauthToken != ''">oauth_token,</if>
 			<if test="oauthTokenSecret != null and oauthTokenSecret != ''">oauth_token_secret,</if>
			<if test="createBy != null and createBy != ''">create_by,</if>
			create_time
 		)values(
			<if test="id != null and id != 0">#{id},</if>
			<if test="userId != null and userId != ''">#{userId},</if>
			<if test="authId != null and authId != ''">#{authId},</if>
			<if test="source != null and source != ''">#{source},</if>
			<if test="accessToken != null and accessToken != ''">#{accessToken},</if>
			<if test="expireIn != null and expireIn != ''">#{expireIn},</if>
			<if test="refreshToken != null  and refreshToken != ''">#{refreshToken},</if>
			<if test="openId != null and openId != ''">#{openId},</if>
			<if test="userName != null and userName != ''">#{userName},</if>
			<if test="nickName != null and nickName != ''">#{nickName},</if>
			<if test="email != null and email != ''">#{email},</if>
			<if test="avatar != null and avatar != ''">#{avatar},</if>
			<if test="accessCode != null and accessCode != ''">#{accessCode},</if>
			<if test="scope != null and scope != ''">#{scope},</if>
			<if test="tokenType != null and tokenType != ''">#{tokenType},</if>
			<if test="unionId != null and unionId != ''">#{unionId},</if>
			<if test="idToken != null and idToken != ''">#{idToken},</if>
			<if test="macAlgorithm != null and macAlgorithm != ''">#{macAlgorithm},</if>
			<if test="macKey != null and macKey != ''">#{macKey},</if>
			<if test="code != null and code != ''">#{code},</if>
			<if test="oauthToken != null and oauthToken != ''">#{oauthToken},</if>
			<if test="oauthTokenSecret != null and oauthTokenSecret != ''">#{oauthTokenSecret},</if>
 			<if test="createBy != null and createBy != ''">#{createBy},</if>
 			sysdate()
 		)
	</insert>



</mapper>
