<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.order.mapper.MerchandiseMapper">
    
    <resultMap type="Merchandise" id="MerchandiseResult">
        <result property="merchandiseId"    column="merchandise_id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="categoryId"    column="category_id"    />
        <result property="shuxing"    column="shuxing"    />
        <result property="price"    column="price"    />
        <result property="status"    column="status"    />
        <result property="stock"    column="stock"    />
        <result property="mainImage"    column="main_image"    />
        <result property="description"    column="description"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMerchandiseVo">
        select merchandise_id, name, type, category_id, shuxing, price, status, stock, main_image, description, create_by, create_time, update_by, update_time, remark from merchandise
    </sql>

    <select id="selectMerchandiseList" parameterType="Merchandise" resultMap="MerchandiseResult">
        <include refid="selectMerchandiseVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
            <if test="shuxing != null  and shuxing != ''"> and shuxing = #{shuxing}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="stock != null "> and stock = #{stock}</if>
            <if test="mainImage != null  and mainImage != ''"> and main_image = #{mainImage}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>
    
    <select id="selectMerchandiseByMerchandiseId" parameterType="Long" resultMap="MerchandiseResult">
        <include refid="selectMerchandiseVo"/>
        where merchandise_id = #{merchandiseId}
    </select>

    <insert id="insertMerchandise" parameterType="Merchandise" useGeneratedKeys="true" keyProperty="merchandiseId">
        insert into merchandise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="type != null">type,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="shuxing != null">shuxing,</if>
            <if test="price != null">price,</if>
            <if test="status != null">status,</if>
            <if test="stock != null">stock,</if>
            <if test="mainImage != null">main_image,</if>
            <if test="description != null">description,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="type != null">#{type},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="shuxing != null">#{shuxing},</if>
            <if test="price != null">#{price},</if>
            <if test="status != null">#{status},</if>
            <if test="stock != null">#{stock},</if>
            <if test="mainImage != null">#{mainImage},</if>
            <if test="description != null">#{description},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMerchandise" parameterType="Merchandise">
        update merchandise
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="shuxing != null"> shuxing = #{shuxing},</if>
            <if test="price != null">price = #{price},</if>
            <if test="status != null">status = #{status},</if>
            <if test="stock != null">stock = #{stock},</if>
            <if test="mainImage != null">main_image = #{mainImage},</if>
            <if test="description != null">description = #{description},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where merchandise_id = #{merchandiseId}
    </update>

    <delete id="deleteMerchandiseByMerchandiseId" parameterType="Long">
        delete from merchandise where merchandise_id = #{merchandiseId}
    </delete>

    <delete id="deleteMerchandiseByMerchandiseIds" parameterType="String">
        delete from merchandise where merchandise_id in
        <foreach item="merchandiseId" collection="array" open="(" separator="," close=")">
            #{merchandiseId}
        </foreach>
    </delete>
</mapper>
